@charset "UTF-8";

body {
	margin: 0;
	background-color: #F5F5F5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar {
	display: flex;
	align-items: center;
	height: 80px;
	border-bottom: 2px solid #E6E6E6;
	background-color: #787878;
}
.navbar .wrap {
	min-width: 75%;
	display: flex;
	align-items: center;
}
.navbar h1 {
	font-size: 22px;
	color: white;
}

.wrap {
	max-width: 75%;
	margin: 0 auto;
}

input[type=text], input[type=password] {
	width: 95%;
	border-radius: 25px;
    border: 2px solid #51C58E;
outline: none;   	
}

#register{
padding-left: 5px;
padding-right: 5px;
}

.signup-button{
	text-transform: uppercase;
border: 2px solid #51C58E;
color: #51C58E;
border-radius: 4px;
text-decoration: none;
font-size: 14px;
font-weight: bold;
padding: 10px 14px;;
transition: 0.1s;
background: #fff;
}
.signup-button:hover {
	background-color: #51C58E;
	color: white;
}

.signup {
	margin-top: 5%;
	max-width: 75%;
color: #444;
width: 300px;
height: 280px;
margin-left: auto;
margin-right: auto;
background: #fff;
   border-radius: 3px;
   border: 1px solid #ccc;
   box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#signupbutton{
	padding-top: 15px;
	text-align: center;
}

form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    padding-top: 10px;
    font-size: 14px;
}
